section {
  margin: 100px;
  background-color: #f3f3f3;
}
.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
}
.item {
  background-color: #3972bd;
}
.item1 {
  grid-column: 1 / span 4;
  background-color: #66740b;
}
.wrap {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
}
.box1 {
  background-color: #289cc7;
}
.box2 {
  background-color: #e87777;
}
.box3 {
  background-color: #69c836;
}
.container {
  display: grid;
  height: 600px;
  /* grid-template-columns: repeat(5, 20%); */
  /* grid-template-rows: 50% 50%; */
  grid-template-areas:
    "header hheader"
    "aside main"
    "aside footer";
}
header {
  grid-area: header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.card {
  border-radius: 10px;
  position: relative;
  flex-basis: calc((100% - 60px) / 4);
}
.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.card-img {
  position: relative;
  aspect-ratio: 4/3;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card-img img:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
.card-img div {
  position: absolute;
  bottom: -24px;
  right: 0;
  left: 0;
  background-color: #ab50e8;
}

.card-img:hover div {
  bottom: 0;
  transition-property: bottom;
  transition-duration: 1s;
}
.card-img:hover img:nth-of-type(2) {
  left: 0;
  transition-property: left;
  transition-duration: 1s;
}
.text {
  padding: 10px;
  background-color: #255f7e;
  border-radius: 0 0 10px 10px;
  color: #ffffff;
}

.label1 {
  position: absolute;
  background-color: #cb0505;
  color: #ffffff;
  left: -10px;
  top: 20px;
  z-index: 2;
  padding: 4px;
}
.label1::before {
  content: "";
  border-bottom: 8px solid #cb0505;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  left: 0.3px;
  bottom: -6.74px;
  z-index: 2;
}
.hot::before {
  content: "HOT";
  position: absolute;
  background-color: #cb0505;
  transform: rotate(45deg);
  z-index: 2;
  right: -25px;
  top: 10px;
  color: #ffffff;
  width: 100px;
  text-align: center;
}
