section {
  margin: 100px;
  background-color: #f3f3f3;
}
.box {
  width: 300px;
  height: 300px;
  background-color: #7719a7;
  transition-property: border-radius, background-color;
  transition-duration: 3s, 2s;
  transition-delay: 0s, 3s;
}
.box:hover {
  background-color: #e07a1b;
  border-radius: 50%;
  transition-property: background-color, border-radius;
  transition-duration: 2s, 3s;
  transition-delay: 0s, 2s;
}
