section {
  margin: 100px;
}
.box {
  width: 200px;
  border-top: 200px solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid #b82929;
  border-bottom: 200px solid green;
}
.box::after {
  content: "早安";
}
.box::before {
  content: "晚安";
}

.lesson {
  font-size: 48px;
  position: relative;
}
.lesson::after {
  content: "";
  background-color: #ff133e;
  position: absolute;
  border-radius: 4px;
  bottom: -20px;
  left: 0;
  height: 3px;
  width: 190px;
}
.register {
  position: relative;
  background-color: rgb(236, 130, 173);
  border-radius: 20px;
  padding: 10px 20px;
}
.register:hover::before {
  position: absolute;
  background-color: #c7d345;
  content: "點按即表同意隱私權政策";
  text-wrap: nowrap;
  top: -52px;
  border-radius: 20px;
  padding: 10px 20px;
  left: 50%;
  transform: translate(-50%);
}
.register:hover::after {
  content: "";
  border-top: 8px solid #c7d345;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%);
}
