section {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.green-word {
  color: #13ab67;
  text-decoration: none;
}
.faq {
  margin: 0 100px;
  text-align: left;
}
.out {
  background-color: #d2aaa6;
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px;
}
.in,
.in-right,
.in-left {
  background-color: #f0dcdd;
  width: 183px;
  border: 1px solid black;
  margin: 20px 10px;
  padding: 20px;
  float: left;
}

p {
  width: 100%;
}

.picture {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}
