:root {
  /* 整個html文檔 */
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans Japanese-Normal", sans-serif;
}
* {
  font-family: "Noto Sans Japanese-Normal", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 90px;
  display: flex;
  z-index: 1000;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.banner-out {
  display: flex;
  align-items: center;
}
.banner-link {
  color: #505563;
  padding: 0 25px;
  flex-wrap: nowrap;
  display: flex;
  line-height: 1;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}
.banner-nav {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}
.banner-logo {
  aspect-ratio: 2/1;
  object-fit: contain;
  flex: 0 0 auto;
  margin-left: calc(11vw - 25px);
  width: 90px;
}
.banner-opentable {
  font-size: 18px;
  background-color: #da3743;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 18.5px;
  border-radius: 30px;
  white-space: nowrap;
  display: inline-flex;
  height: auto;
  gap: 10px;
  align-items: center;
  margin-right: 11vw;
}

.banner-opentable-decoration {
  display: block;
  object-fit: contain;
  height: 1em;
}
.banner-card {
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1061/497;
}
.banner-card-word {
  margin-left: 11vw;
  flex-shrink: 0;
  margin-top: -160px;
}
.h2-font {
  font-size: 44px;
  font-weight: bold;
}
.h2-font15 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 70px;
  font-family: "arial black", sans-serif;
}
.colorff6337 {
  color: #ff6337;
}
.banner-card-p {
  color: #505563;
  margin-bottom: 75px;
  line-height: 30.4px;
}
.try-now {
  background-color: #064c8c;
  border-color: #064c8c;
  border-radius: 7px;
  padding: 12px 20px 12px 20px;

  color: #ffffff;
}

.world-map {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 750/293;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}
.world-map-text {
  padding-top: 100px;
  color: #333333;
  font-size: 17px;
}
.bridge {
  text-align: center;
}
.bridge-1 {
  color: #ec6300;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.bridge-2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: "Noto Sans Japanese-Bold", sans-serif;
}
.card-booking {
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  color: #252932;
  gap: 40px;
}

.card-group {
  color: #064c8c;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 66px;
  margin-top: 76px;
  margin-left: 71px;
}
.card-half-img {
  display: inline-block;
  aspect-ratio: 8/7;
  width: 600px;
  margin-top: 155px;
}
.card-booking-word {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: space-around;
}
.card-bullet-points {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 60px;
}
.card-bullet-points-head {
  font: 1.2rem Open Sans, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}
.card-bullet-points-icon {
  display: flex;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  object-fit: contain;
  margin-right: 26px;
}

.card-bullet-points-word {
  font-size: 1em;
  margin-bottom: 11px;
}
.card-management {
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1497/ 1785;
  display: flex;
  color: #252932;
  flex-direction: column;
}
.card-up,
.card-down {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  color: #252932;
  gap: 40px;
}
.card-waiting-word {
  display: flex;
  width: 600px;
  flex-direction: column;
}
.card-half-img2 {
  display: inline-block;
  aspect-ratio: 8/7;
  width: 600px;
  margin-top: 172px;
  padding-bottom: 50px;
}
.height-50 {
  height: 50px;
  display: block;
  width: 100%;
  margin: 0;
}
.card-group-customer {
  margin-top: 0;
  color: #064c8c;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 66px;
  margin-left: 71px;
}
.card-down {
  margin-top: 200px;
}
.card-half-img3 {
  display: inline-block;
  aspect-ratio: 8/7;
  width: 600px;
  margin-top: 65px;
}

/* footer */
footer a:hover {
  color: #ff6e06;
  transition: color 0.3s ease;
}
.footer {
  background-color: #252932;
  color: #e3e6ed;
  padding: 60px 0 20px 0;
}
.footer-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 90px;
  height: 36px;
  display: block;
}
address {
  margin-top: 25px;
  line-height: 1.1;
  font-style: normal;
}
.country {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1em;
}
.location {
  font-size: 12.3px;
  margin-bottom: 1em;
}
.footer-h3 {
  font: 13px Montserrat, Arial, Helvetica, sans-serif;
  margin: 0 0 20px 0;
}
.sitemap-li ul li,
.footer-h3 + ul li {
  display: block;
  border-bottom: 1px solid #666666;
  position: relative;
  padding: 10px 10px 10px 0;
}
.footer-h3 ~ p {
  margin-bottom: 16px;
}
.mb40 {
  margin-bottom: 40px;
}
.copy-right {
  background: #191c23;
  color: #9ea6b7;
  padding: 15px 0 13px 0;
}
.copy-right ul {
  display: flex;
  list-style: none;
  padding: 0;
}
